<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">{{role.name ? role.name : 'New Role Details'}}</h1>
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control" name="name" v-model="role.name" required autocomplete="name" autofocus :readonly='readonly'>
                                <p class="text-danger m-0" v-for="name in errors.name"><small>{{ name }}</small></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="description" class="col-md-4 col-form-label text-md-right">Description</label>

                            <div class="col-md-6">
                                <textarea id="description" name="description" class="form-control" v-model="role.description"></textarea>
                                <p class="text-danger m-0" v-for="description in errors.description"><small>{{ description }}</small></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password_min_chars" class="col-md-4 col-form-label text-md-right">Minimum password Chars</label>

                            <div class="col-md-6">
                                <input id="password_min_chars" type="text" class="form-control" name="password_min_chars" v-model="role.password_min_chars" required>
                                <p class="text-danger m-0" v-for="password_min_chars in errors.password_min_chars"><small>{{ password_min_chars }}</small></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="include_caps" class="col-md-4 col-form-label text-md-right">Include Capital Letters</label>

                            <div class="col-md-6">
                                <input id="include_caps" type="checkbox" class="form-control roles-checkbox-input" name="include_caps" v-model="role.include_caps" required>
                                <p class="text-danger m-0" v-for="include_caps in errors.include_caps"><small>{{ include_caps }}</small></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="include_digits" class="col-md-4 col-form-label text-md-right">Include Digits</label>

                            <div class="col-md-6">
                                <input id="include_digits" type="checkbox" class="form-control roles-checkbox-input" name="include_digits" v-model="role.include_digits" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="include_special_chars" class="col-md-4 col-form-label text-md-right">Include Special Characters</label>

                            <div class="col-md-6">
                                <input id="include_special_chars" type="checkbox" class="form-control roles-checkbox-input" name="include_special_chars" v-model="role.include_special_chars" required>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <button v-if="!this.role_id && this.is_admin" :disabled='isDisabled' class="btn btn-primary" v-on:click="addNewRole()">Add</button>
                            <button v-if="this.role_id && this.is_admin" :disabled='isDisabled' class="btn btn-primary" v-on:click="updateRole()">Update</button>
                            <p class="ml-1"></p>
                            <button v-if="this.role_id && this.is_admin" :disabled='isAdminRolePage' class="btn btn-warning" v-on:click="deleteRole(role.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['role_id', 'is_admin'],
        data(){
            return {
                role : {},
                errors: {},
                isDisabled: false,
                isAdminRolePage: false
            }
        },
        computed: {
            readonly() {
                return this.role_id ? true : false;
            }
        },
        mounted() {
            if(this.role_id) {
                this.getRole()
            }

        },
        methods: {
            debounceInput: _.debounce(function (e) {
                this.filterKey = e.target.value;
            }, 500),
            checkIfAdminRolePage() {
                this.isAdminRolePage = this.role.name === 'Admin';
            },
            getRole() {
                $.ajax({
                    url: '/roles/get/' + this.role_id,
                    method: 'GET',
                    success: function(response) {
                        if(response) {
                            this.role = response;
                            this.checkIfAdminRolePage();
                            return;
                        }

                        this.user = null;
                    }.bind(this)
                });
            },
            updateRole()
            {
                $.ajax({
                    url: '/roles/update/' + this.role_id,
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: { 
                        'name' : this.role.name, 
                        'description' : this.role.description, 
                        'password_min_chars' : this.role.password_min_chars, 
                        'include_caps' : this.role.include_caps === true ? 1 : 0, 
                        'include_digits' : this.role.include_digits === true ? 1 : 0, 
                        'include_special_chars' : this.role.include_special_chars === true ? 1 : 0
                    },
                    method: 'PUT',
                    success: function(response) {
                        if(response.success) {
                            swal({
                                title: "Success",
                                text: "Role details updated successfully",
                                icon: "success",
                            });
                            return;
                        }

                        swal({
                            title: "Mzansi we ave a problem!",
                            text: response.message,
                            icon: "error",
                        });

                    }.bind(this),
                    error: function(response) {
                        this.errors = $.parseJSON(response.responseText).errors;
                    }.bind(this)
                });
            },
            deleteRole(id)
            {
                swal("Are you sure you want to delete this role?", {
                  buttons: {
                    cancel: "No!",
                    accept: "Yes",
                  },
                })
                .then((value) => {
                  switch (value) {
                    case "accept":
                        $.ajax({
                            url: '/roles/delete/' + id,
                            headers: {
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            },
                            method: 'DELETE',
                            success: function(response) {
                                this.errors = {};
                                if(response.success) {
                                    this.isDisabled = true;
                                    swal({
                                        title: "Success",
                                        text: "Role successfully deleted",
                                        icon: "success",
                                    }).then((value) => {
                                        window.location.href = response.redirect_url
                                    });
                                    return;
                                }else{
                                    swal({
                                      title: "Mzansi we have a problem!",
                                      text: response.message,
                                      icon: "error",
                                    });
                                }

                            }.bind(this)
                        });
                      break;
                 
                    case "accept":
                      break;
                  }
                }); 
            },
            addNewRole()
            {
                $.ajax({
                    url: '/roles/add',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: { 
                        'name' : this.role.name, 
                        'description' : this.role.description, 
                        'password_min_chars' : this.role.password_min_chars, 
                        'include_caps' : this.role.include_caps === true ? 1 : 0, 
                        'include_digits' : this.role.include_digits === true ? 1 : 0, 
                        'include_special_chars' : this.role.include_special_chars === true ? 1 : 0
                    },
                    method: 'POST',
                    success: function(response) {
                        this.errors = {};
                        if(response.success) {
                            swal({
                                title: "Success",
                                text: "Role successfully added",
                                icon: "success",
                            }).then((value) => {
                                window.location.href = response.redirect_url
                            });
                            return;
                        }

                        swal({
                            title: "Mzansi we have a problem!",
                            text: response.message,
                            icon: "error",
                        });

                        this.isDisabled = true;
                    }.bind(this),
                    error: function(response) {
                        this.errors = $.parseJSON(response.responseText).errors;
                    }.bind(this)
                });
            }
        },
    }
</script>
