<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">{{user.name ? user.name : 'New User Details'}}</h1>
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control" name="name" v-model="user.name" required autocomplete="name" autofocus>
                                <p class="text-danger m-0" v-for="name in errors.name"><small>{{ name }}</small></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">Email Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email" v-model="user.email" required autocomplete="email">
                                <p class="text-danger m-0" v-for="email in errors.email"><small>{{ email }}</small></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>

                            <div class="col-md-6">
                                <input id="username" type="text" class="form-control" name="username" v-model="user.username" required>
                                <p class="text-danger m-0" v-for="username in errors.username"><small>{{ username }}</small></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" v-model="user.password" required autocomplete="new-password">
                                <p class="text-danger m-0" v-for="password in errors.password"><small>{{ password }}</small></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                            <div class="col-md-6">
                                <input id="password_confirmation" type="password" class="form-control" name="password_confirmation" v-model="user.c_password" required autocomplete="new-password">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="role" class="col-md-4 col-form-label text-md-right">Role</label>

                            <div class="col-md-6">
                                <select id="role" class="form-control" name="role" v-model="role.id">
                                    <option v-for="role in roles" v-bind:value="role.id">{{ role.name }}</option>
                                </select>
                                <p class="text-danger m-0" v-for="role in errors.role"><small>{{ role }}</small></p>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <button v-if="!this.user_id && this.is_admin" :disabled='isDisabled' class="btn btn-primary" v-on:click="addNewUser()">Add</button>
                            <button v-if="this.user_id && this.is_admin" :disabled='isDisabled' class="btn btn-primary" v-on:click="updateUser()">Update</button>
                            <p class="ml-1"></p>
                            <button v-if="this.user_id && this.is_admin" :disabled='isDisabled' class="btn btn-warning" v-on:click="deleteUser(user.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user_id', 'is_admin'],
        data(){
            return {
                user : {},
                role : {},
                roles : {},
                errors: {},
                isDisabled: false
            }
        },
        mounted() {
            if(this.user_id) {
                this.getUser()
            }

            this.getRoles()
        },
        methods: {
            getUser() {
                $.ajax({
                    url: '/users/get/' + this.user_id,
                    method: 'GET',
                    success: function(response) {
                        if(response) {
                            this.user = response;
                            this.role = response.role;
                            return;
                        }

                        this.user = null;
                    }.bind(this)
                });
            },
            getRoles() {
                $.ajax({
                    url: '/roles/get-all',
                    method: 'GET',
                    success: function(response) {
                        if(response) {
                            this.roles = response
                            return;
                        }

                        this.roles = [];
                    }.bind(this)
                });
            },
            updateUser()
            {
                $.ajax({
                    url: '/users/update/' + this.user_id,
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: { 
                        'name' : this.user.name,
                        'email' :this.user.email,
                        'username' : this.user.username,
                        'password' : this.user.password,
                        'password_confirmation' : this.user.c_password,
                        'role' : this.role.id 
                    },
                    method: 'PUT',
                    success: function(response) {
                        if(response.success) {
                            swal({
                                title: "Success",
                                text: "User details updated successfully",
                                icon: "success",
                            });
                            return;
                        }

                        swal({
                            title: "Mzansi we ave a problem!",
                            text: response.message,
                            icon: "error",
                        });

                    }.bind(this),
                    error: function(response) {
                        this.errors = $.parseJSON(response.responseText).errors;
                    }.bind(this)
                });
            },
            deleteUser(id)
            {
                swal("Are you sure you want to delete this user?", {
                  buttons: {
                    cancel: "No!",
                    accept: "Yes",
                  },
                })
                .then((value) => {
                  switch (value) {
                    case "accept":
                        $.ajax({
                            url: '/users/delete/' + id,
                            headers: {
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            },
                            method: 'DELETE',
                            success: function(response) {
                                this.errors = {};
                                if(response.success) {
                                    this.isDisabled = true;
                                    swal({
                                        title: "Success",
                                        text: "User successfully deleted",
                                        icon: "success",
                                    }).then((value) => {
                                        window.location.href = response.redirect_url
                                    });
                                    return;
                                }else{
                                    swal({
                                      title: "Mzansi we have a problem!",
                                      text: response.message,
                                      icon: "error",
                                    });
                                }

                            }.bind(this)
                        });
                      break;
                 
                    case "accept":
                      break;
                  }
                }); 
            },
            addNewUser()
            {
                $.ajax({
                    url: '/users/add',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: { 
                        'name' : this.user.name,
                        'email' :this.user.email,
                        'username' : this.user.username,
                        'password' : this.user.password,
                        'password_confirmation' : this.user.c_password,
                        'role' : this.role.id 
                    },
                    method: 'POST',
                    success: function(response) {
                        this.errors = {};
                        if(response.success) {
                            swal({
                                title: "Success",
                                text: "User successfully added",
                                icon: "success",
                            }).then((value) => {
                                window.location.href = response.redirect_url
                            });
                            return;
                        }

                        swal({
                            title: "Mzansi we have a problem!",
                            text: response.message,
                            icon: "error",
                        });

                        this.isDisabled = true;
                    }.bind(this),
                    error: function(response) {
                        this.errors = $.parseJSON(response.responseText).errors;
                    }.bind(this)
                });
            }
        },
    }
</script>
