<template>
    <div class="form-group">
        <h1>System Roles</h1>
        <div class="row">
            <div class="col-md-4 ml-auto mb-3">
                <input id="search" v-on:keyup="debounceInput" type="text" class="form-control" name="search" v-model="search" autofocus placeholder="Search....">
            </div>
        </div>
        <div class="roles-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Minimum <br>Password <br> Chars</th>
                        <th scope="col">Has Caps</th>
                        <th scope="col">Has Digits</th>
                        <th scope="col">Has<br> Special <br> Characters</th>
                        <th v-if="is_admin" scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="role in roles">
                        <th scope="row">{{ role.id }}</th>
                        <td v-if="is_admin"><a :href="'/roles/view-add-role/' + role.id">{{ role.name }}</a></td>
                        <td v-if="!is_admin">{{ role.name }}</td>
                        <td>{{ role.description }}</td>
                        <td>{{ role.password_min_chars }}</td>
                        <td>{{ role.include_caps === true ? 'Yes' : 'No' }}</td>
                        <td>{{ role.include_digits === true ? 'Yes' : 'No' }}</td>
                        <td>{{ role.include_special_chars === true ? 'Yes' : 'No' }}</td>
                        <td v-if="is_admin"><a href="#" v-on:click="deleteRole(role.id)">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mx-auto d-flex flex-row pagination-container mt-2">
            <paginate
                :page-count='lastPage'
                :v-model='page'
                :click-handler='getNextRoles'
                :prev-text="'Previous'"
                :next-text="'Next'"
                :containerClass="'pagination'"
                :page-class="'page-item'"
                :page-link-class="'page-link'"
                :prev-class="'page-item'"
                :next-class="'page-item'"
                :prev-link-class="'page-link'"
                :next-link-class="'page-link'"
                :active-class="'active'"
                v-if='roles.length > 0'
            ></paginate>
            <p class="ml-3"></p>
            <select 
                id="pagination-limit-selector"
                title="Select the number of roles to be returned" 
                class="form-control d-inline" 
                v-model="limit" 
                v-on:change="getRoles">
                    <option>10</option>
                    <option>20</option>
                    <option>40</option>
                    <option>70</option>
            </select>
        </div>    
    </div>
</template>

<script>
    export default {
        props: ['is_admin'],
        data(){
            return {
                limit: 10,
                total: 10,
                from: 1,
                to: 10,
                page: 1,
                lastPage: 1,
                roles: [],
                search: ''
            }
        },
        mounted() {
            this.getRoles();
        },
        methods: {
            debounceInput: _.debounce(function (e) {
                this.searchForRole();
            }, 500),
            searchForRole()
            {
                if(!this.search) {
                    this.getRoles(); 
                    return;
                }

                $.ajax({
                    url: '/roles/search',
                    method: 'POST',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: {
                        'limit' : this.limit,
                        'page' : this.page,
                        'search': this.search
                    },
                    success: function(response) {
                        if(response) {
                            this.processApiResponse(response);
                            return;
                        }

                        this.roles = [];
                    }.bind(this)
                });
            },
            getRoles() 
            {
                $.ajax({
                    url: '/roles/get',
                    method: 'GET',
                    data: {
                        'limit' : this.limit,
                        'page' : this.page
                    },
                    success: function(response) {
                        if(response) {
                            this.processApiResponse(response);
                            return;
                        }

                        this.roles = [];
                    }.bind(this)
                });
            },
            processApiResponse(response) 
            {
                this.roles = response.data;
                this.lastPage = response.last_page;
                this.total = response.total;
                this.from = response.from;
                this.to = response.to;
            },
            getNextRoles(pageNum) 
            {
                $.ajax({
                    url: '/roles/get',
                    method: 'GET',
                    data: { 'limit' : this.limit, 'page' : pageNum },
                    success: function(response) {
                        if(response) {
                            this.processApiResponse(response);
                            return;
                        }

                        this.roles = [];
                    }.bind(this)
                });
            },
            deleteRole(id)
            {
                swal("Are you sure you want to delete this role?", {
                  buttons: {
                    cancel: "No!",
                    accept: "Yes",
                  },
                })
                .then((value) => {
                  switch (value) {
                    case "accept":
                        $.ajax({
                            url: '/roles/delete/' + id,
                            headers: {
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            },
                            method: 'DELETE',
                            success: function(response) {
                                if(response.success) {
                                    this.getRoles();
                                    return;
                                }else{
                                    swal({
                                      title: "Mzansi we have a problem!",
                                      text: response.message,
                                      icon: "error",
                                    });
                                }

                            }.bind(this)
                        });
                      break;
                 
                    case "accept":
                      break;
                  }
                }); 
            }
        },
    }
</script>
