<template>
    <div class="form-group">
        <h1>System Users</h1>
        <div class="row">
            <div class="col-md-4 ml-auto mb-3">
                <input id="search" v-on:keyup="debounceInput" type="text" class="form-control" name="search" v-model="search" autofocus placeholder="Search....">
            </div>
        </div>
        <div class="users-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th v-if="is_admin" scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users">
                        <th scope="row">{{ user.id }}</th>
                        <td v-if="is_admin"><a :href="'/users/view-add-user/' + user.id">{{ user.name }}</a></td>
                        <td v-if="!is_admin">{{ user.name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role ? user.role.name : "-" }}</td>
                        <td v-if="is_admin"><a href="#" v-on:click="deleteUser(user.id)">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mx-auto d-flex flex-row pagination-container mt-2">
            <paginate
                :page-count='lastPage'
                :v-model='page'
                :click-handler='getNextUsers'
                :prev-text="'Previous'"
                :next-text="'Next'"
                :containerClass="'pagination'"
                :page-class="'page-item'"
                :page-link-class="'page-link'"
                :prev-class="'page-item'"
                :next-class="'page-item'"
                :prev-link-class="'page-link'"
                :next-link-class="'page-link'"
                :active-class="'active'"
                v-if='users.length > 0'
            ></paginate>
            <p class="ml-3"></p>
            <select 
                id="pagination-limit-selector"
                title="Select the number of users to be returned" 
                class="form-control d-inline" 
                v-model="limit" 
                v-on:change="getUsers">
                    <option>10</option>
                    <option>20</option>
                    <option>40</option>
                    <option>70</option>
            </select>
        </div>    
    </div>
</template>

<script>
    export default {
        props: ['is_admin'],
        data(){
            return {
                limit: 10,
                total: 10,
                from: 1,
                to: 10,
                page: 1,
                lastPage: 1,
                users: [],
                search: ''
            }
        },
        mounted() {
            this.getUsers();
        },
        methods: {
            debounceInput: _.debounce(function (e) {
                this.searchForUsers();
            }, 500),
            searchForUsers()
            {
                if(!this.search) {
                    this.getUsers(); 
                    return;
                }

                $.ajax({
                    url: '/users/search',
                    method: 'POST',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: {
                        'limit' : this.limit,
                        'page' : this.page,
                        'search': this.search
                    },
                    success: function(response) {
                        if(response) {
                            this.processApiResponse(response);
                            return;
                        }

                        this.users = [];
                    }.bind(this)
                });
            },
            getUsers() 
            {
                $.ajax({
                    url: '/users/get',
                    method: 'GET',
                    data: {
                        'limit' : this.limit,
                        'page' : this.page
                    },
                    success: function(response) {
                        if(response) {
                            this.processApiResponse(response);
                            return;
                        }

                        this.users = [];
                    }.bind(this)
                });
            },
            processApiResponse(response) 
            {
                this.users = response.data;
                this.lastPage = response.last_page;
                this.total = response.total;
                this.from = response.from;
                this.to = response.to;
            },
            getNextUsers(pageNum) 
            {
                $.ajax({
                    url: '/users/get',
                    method: 'GET',
                    data: { 'limit' : this.limit, 'page' : pageNum },
                    success: function(response) {
                        if(response) {
                            this.processApiResponse(response);
                            return;
                        }

                        this.users = [];
                    }.bind(this)
                });
            },
            deleteUser(id)
            {
                swal("Are you sure you want to delete this user?", {
                  buttons: {
                    cancel: "No!",
                    accept: "Yes",
                  },
                })
                .then((value) => {
                  switch (value) {
                    case "accept":
                        $.ajax({
                            url: '/users/delete/' + id,
                            headers: {
                                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                            },
                            method: 'DELETE',
                            success: function(response) {
                                if(response.success) {
                                    this.getUsers();
                                    return;
                                }else{
                                    swal({
                                      title: "Mzansi we have a problem!",
                                      text: response.message,
                                      icon: "error",
                                    });
                                }

                            }.bind(this)
                        });
                      break;
                 
                    case "accept":
                      break;
                  }
                }); 
            }
        },
    }
</script>
