#pagination-limit-selector {
	width:80px
}

.pagination-container {
	width: 300px;
}

.users-list, .roles-list {
	height: 40em;
	overflow-y: scroll;
}

.roles-checkbox-input {
  transform: scale(0.5);
}